@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pacifico&family=Poppins:ital,wght@0,200;0,700;0,800;1,100;1,700&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 1s linear;
}
body{
    font-family: 'Lora', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header */

.header{
background: url("images/2.jpg") no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

.header .nav{
background: #a83d3d;
padding: 10px 25px;
display: flex;
width:100%;
position: fixed;
top: 0;
z-index: 9999;
justify-content: space-between;
align-items: center;
}
.header .nav .links ul{
list-style-type: none;
display: flex;
justify-content: space-between;
}
.nav .links ul li{
    margin-left: 10px;
    text-transform: uppercase;
}

.nav .links ul li a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9em;
    transition: 0.4s ease;
}

.bars{
    display: none;
    font-size: 2em;
    text-decoration: none;
    color: #181717;
    font-weight: bold;
    color: orange;
    border: 2px solid orange;
    padding: 2px 4px;
}
.nav .links ul li a:hover{
    color: #cbd855ee;
}

.header .header-section {
 margin-top: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 970px;
}
.header .header-section .header-section-intro {
    font-size: 1.2em;
   text-align: center;
    align-items: center;
    line-height: 2.2em;
    max-width: 100%;
    color: #0a6b6b;
    padding: 15px;
}
.email-sender{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 600px;
}
.email-sender input{
    display: inline-block;
    width: 400px;
    padding: 15px 25px;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #292626;
    opacity: 0.7;
    color: #FFF;
}
.email-sender .getStarted{
    text-transform: capitalize;
    color: #fff;
    background: #e79e16;
    padding:15px 25px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}
section{
    padding: 100px 15px;
}
/* services */
.services{
    line-height: 2em;
}

.services .container{
    width: 100%;
    margin-top: 70px;
}
.container .info{
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 2.4em;
    font-size: 1em;
    margin-bottom: 50px;

}
.container .info p{
    color: rgba(172, 166, 166, 0.933);
    max-width: 700px;
}
.services .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.services .cards .row{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    margin-right: 25px;
}
.services .cards .row .row-info{
    text-align: center;
}
.services .cards .row .icon i{
    font-size: 4em;
    margin: 15px;
    color: #e79e16;
}

/* Gallery */

.gallery{
    background: rgba(245, 245, 245, 0.933);
}
.gallery .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery .cards .row{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.gallery .cards .row img{
    width: 300px;
    margin: 15px;
    opacity: 0.8;
    transition: 0.4s ease;
}
.gallery .cards .row img:hover{
    opacity: 1;
}

/* skills */
.skills{
    padding: 70px;
    display: flex;
justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skills .left{
    width: 400px;
    line-height: 2em;
    margin: 50px;
}
.skills .right {
    width: 600px;
    align-self: flex-start;
    padding: 90px;
    margin: 50px;
}
.skills .right .bar{
    width: 90%;  
     position: relative;
     background: #deee;
      border-radius: 21px;
      margin-bottom: 50px;
}
.skills .right .bar .percentage{
    width: 85%;
    height: 5px;
    padding:8px 10px;
    border-radius: 21px;
    background: #e79e16;
 
}
.skills .right .bar .title{
    position: absolute;
    top: -25px;
}
.skills .right .bar .percent{
    position: absolute;
    top: -25px;
    right: 0;
}
.skills .left h2{
    padding-bottom: 10px;
}
@media (max-width:800px) {
    .header{
        padding: 10px 5px;
    }
    .header .nav .links {
        display: none;
    }
    .bars{
        display: inline-block;
    }
    .header .header-section .header-section-intro{
        font-size: 0.7em;
        line-height: 3em;
    }
    .email-sender{
        flex-direction: column;
        width: 400px;
    }
    .email-sender input{
        width: 300px;
        margin-bottom: 10px;
    }
    section{
        padding:10px 50px;
    }
    .services .container .info{
        font-size: 0.8em;
    }
    .skills{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 400px;
    }
    .skills .left{
        padding: 0;
        font-size: 0.5em;
        width: 100%;
        margin:15px 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .skills .left p{
        width: 70%;
    }
    .skills .right {
        padding: 0;
        width: 80%;
    }
}